@charset "utf-8";

@font-face {
    font-family: 'ac_line';
    src: url('../fonts/ac_line-webfont.eot');
    src: url('../fonts/ac_line-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ac_line-webfont.woff') format('woff'),
         url('../fonts/ac_line-webfont.ttf') format('truetype'),
         url('../fonts/ac_line-webfont.svg#ac_lineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { margin:0px; padding:0px; font-family:'open_sans', Verdana, Geneva, sans-serif; font-size:14px; line-height:20px; }
html, body { height:100%; }
/* images */
img { border:none; }
:-moz-any-link { outline:none; } :-moz-any-link:hover { outline:none; } :-moz-any-link:focus { outline:none; }
div,span,p,img,ul,li,a,h1,h2,h3,h4,input,textarea { outline:none; }

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; }

/* text seleft */
::selection { background:#333333; color:#ffffff; } ::-moz-selection { background:#333333; color:#ffffff; } ::-webkit-selection { background:#333333; color:#ffffff; }

/* render html5 elements as block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

/* headings */ 
*, h1, h2, h3, h4, h5, h6, p, ul, li { margin:0px; padding:0px; font-weight:normal; list-style:none; }
address { font-style:normal; }
a { color:#000; text-decoration:none; }
a:hover { color:#000; text-decoration:underline; }
a:active { color:#000; text-decoration:underline; }
a:visited { color:#000; text-decoration:underline; }

/* table */
table { border-collapse:collapse; }

/* float, clear */
.left { float:left; } .right { float:right; } .none { float:none; } .clear { clear:both; }

/* main wrapper */
#wrapper { width:100%; height:auto; word-wrap:break-word; }

.header { width:98%; float:left; background:#ffffff; border-bottom:2px solid #231f20; padding:15px 1%; }
.header #logo { width:450px; height:90px; float:left; }
.header #logo a { width:300px; height:92px; float:left; display:block; background:url(../images/nd_logo.png) no-repeat 0 0; background-size:100%; text-indent:-999em; transition:all 0.8s; -webkit-transition:all 0.8s; -moz-transition:all 0.8s; -o-transition:all 0.8s; }

.gototop { text-decoration: none; position: fixed; bottom: 2em; right: 2em; color: #ffffff; background-color: #323746; font-size: 12px; padding: 1em; display: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
.gototop:hover { background-color: rgba(135, 135, 135, 0.50); }


.menu { height:64px; position:relative; font-size:16px; font-family: 'ac_line', Arial, Helvetica, sans-serif; font-style:normal; font-weight:bold; text-transform:uppercase; top:20px; -webkit-transition:all 0.8s; -moz-transition:all 0.8s; -o-transition:all 0.8s; }
.item { position:relative; background-color:#ffffff; float:right; width:56px; margin:0px 10px; height:56px; border:4px solid #c6c6c6; -moz-border-radius:32px; -webkit-border-radius:38px; -moz-border-radius:38px; -o-border-radius:38px; border-radius:38px; -moz-box-shadow:2px 2px 0px #7D7D7D inset; -webkit-box-shadow:2px 2px 0px #7D7D7D inset; box-shadow:2px 2px 0px #7D7D7D inset; cursor:pointer; overflow:hidden; }
.link { left:12px; top:12px; position:absolute; width:33px; height:33px; }
.icon_man { background:transparent url(../images/home.png) no-repeat top left; }
.icon_skill { background:transparent url(../images/skill.png) no-repeat top left; }
.icon_portfolio { background:transparent url(../images/portfolio.png) no-repeat top left; }
.icon_contact { background:transparent url(../images/contact.png) no-repeat top left; }
.item_content { width:120px; position:absolute; overflow:hidden; left:40px; top:6px; background:transparent; display:none; }
.item_content h2 { color:#231f20; background-color:transparent; font-size:24px; text-align:center; }
.item_content a { background-color:transparent; float:left; margin-right:7px; margin-top:3px; color:#231f20; text-shadow: 1px 1px 1px #fff; text-decoration:none; font-size:20px; }
.item_content a:hover { color:#231f20; }
.item_content p { background-color:transparent; display:none; }
.item_content p input { border:1px solid #ccc; padding:1px; width:155px; float:left; margin-right:5px; }

.header .mobilemenu ul {  width:100%; float:left; margin:0; padding:0; }
.header .mobilemenu ul li { width:48%; float:left; margin:5px 1%; padding:0; text-align:center; }
.header .mobilemenu ul li a { width:140px; display:block; margin:0 auto; font-size:16px; line-height:35px; }
.header .mobilemenu ul li a em { width:33px; height:33px; float:left; margin:0 10px 0 0; }
.header .mobilemenu ul li a.theman em { background:url(../images/home.png) no-repeat 0 0; }
.header .mobilemenu ul li a.skill em { background:url(../images/skill.png) no-repeat 0 0; }
.header .mobilemenu ul li a.portfolio em { background:url(../images/portfolio.png) no-repeat 0 0; }
.header .mobilemenu ul li a.contact em { background:url(../images/contact.png) no-repeat 0 0; }

.mobilemenu { display:none; }

.content { width:100%; float:left; }
#theman_area { width:96%; float:left; min-height:100px; background:url(../images/bg_man.jpg) repeat 0 0; padding:50px 2%; }
#theman_area .left { width:34%; float:left; }
#theman_area .left .img_box {  width:100%; float:left; text-align:center; margin:0 0 20px 0; }
#theman_area .left .img_box img { max-width:395px; width:100%; float:none; }
#theman_area .left .signature { width:100%; float:left; text-align:center; }
#theman_area .left .signature img { max-width:294px; width:100%; float:none; }
#theman_area .right { width:64%; float:right; }
#theman_area .right .main_title { width:100%; float:left; font-size:50px; line-height:65px; color:#231f20; margin:40px 0 30px 0; }
#theman_area .right .main_title span { font-family:'open_sansbold'; color:#1b548f; }
#theman_area .right p { width:100%; float:left; text-align:justify; font-size:30px; color:#231f20; line-height:140%;  overflow:hidden; height:130px; }
#theman_area .btn_learnabtme { margin:20px 0; float:left; padding:30px 40px; color:#ffffff; font-size:26px; font-weight:bold; background:#1b548f; text-decoration:none; }
#theman_area .btn_learnabtme:hover { background:#0c3d70; }

#skill_area { width:100%; float:left; min-height:500px; background:url(../images/bg_skill.jpg) repeat 0 0; }
.skillarea .main_title { width:100%; float:left; }
.skillarea .main_title h2 { width:100%; float:left; font-size:50px; line-height:100%; color:#ffffff; text-align:center; margin:20px 0 10px 0; }
.skillarea .list { width:100%; float:left; }
.skillarea .list ul { width:100%; float:left; text-align:center; padding:0 !important; margin:0 !important; }
.skillarea .list ul li { width:23%; text-align:center; margin:30px 0 !important; display:inline-block; padding:0 !important; }
.skillarea .list ul li img { width:80%; max-width:200px;  }

#portfolio_area { width:100%; float:left; min-height:500px; background:url(../images/bg_portfolio.jpg) repeat 0 0; padding:0 0 117px 0; }
.portfolioarea .main_title { width:100%; float:left; }
.portfolioarea .main_title h2 { width:100%; float:left; font-size:50px; line-height:100%; color:#231f20; text-align:center; margin:40px 0 10px 0; }
.portfolioarea .main_title h3 { width:100%; float:left; font-size:30px; line-height:100%; color:#727272; text-align:center; margin:10px 0; }
.portfolioarea .content { width:100%; float:left; margin:20px 0 0 0; }

.portfolioarea .box { width:16%; float:left; margin:0 2% 10px 2%; min-height:180px; border-bottom:3px solid #aeaeae; }
.portfolioarea .box .main_title { width:100%; float:left; color:#ffffff; text-transform:uppercase; margin:0 0 5px 0; padding:0 0 5px 0; border-bottom:1px solid #fff; }
.portfolioarea .box ul { width:100%; float:left; margin:0; padding:0; }
.portfolioarea .box ul li { max-width:90%; float:left; clear:both; padding:0 0 0 20px; margin:0 0 5px 0; background:url(../images/bullet.png) no-repeat 0 3px; }
.portfolioarea .box ul li a { width:100%; float:left; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }

.footer { width:100%; float:left; min-height:300px; background:url(../images/bg_footer.jpg) repeat 0 0; }
.footer .city_view { width:100%; height:117px; float:left; background:url(../images/city_view.png) repeat-x 50% 0; margin:-115px 0 0 0; }
.footer .footer_content { width:100%; float:left; }
.footer .footer_content .main_title { width:100%; float:left; }
.footer .footer_content .main_title h2 { width:100%; float:left; font-size:50px; font-family:'open_sansbold', Arial, Helvetica, sans-serif; color:#ffffff; text-align:center; line-height:100%; margin:40px 0 20px 0; }
.footer .footer_content .content { width:100%; float:left; }
.footer .footer_content .content .hello { width:100%; float:left; text-align:center; margin:40px 0 0 0; font-size:26px; color:#ffffff; }
.footer .footer_content .content .hello a { color:#ffffff; text-decoration:underline; }
.footer .footer_content .content .hello a:hover { text-decoration:none; color:#aeaeae; }
.footer .footer_content .content .social { width:300px; margin:0 auto; }
.footer .footer_content .content .social ul { width:100%; float:left; margin:40px 0 10px 0; }
.footer .footer_content .content .social ul li { width:23%; float:left; margin:0 1%;text-align:center; }
.footer .footer_content .content .social ul li a { width:50px; height:50px; background:url(../images/social_icons.png) no-repeat 0 0; float:left; text-indent:-999em; }
.footer .footer_content .content .social ul li a.fb { background-position:0 0; }
.footer .footer_content .content .social ul li a.fb:hover { background-position:0 -50px; }
.footer .footer_content .content .social ul li a.tw { background-position:-94px 0; }
.footer .footer_content .content .social ul li a.tw:hover { background-position:-94px -50px; }
.footer .footer_content .content .social ul li a.in { background-position:-188px 0; }
.footer .footer_content .content .social ul li a.in:hover { background-position:-188px -50px; }
.footer .footer_content .content .social ul li a.be { background-position:-282px 0; }
.footer .footer_content .content .social ul li a.be:hover { background-position:-282px -50px; }

@media screen and (max-width: 980px) {
.header #logo { width:310px; height:80px; }
.header #logo a { width:260px; height:80px; }

.header .menu { top:0; }

#theman_area .right .main_title { font-size:42px; line-height:42px; margin:20px 0; }
#theman_area .right p { font-size:26px; line-height:140%; height:150px; }

.skillarea .list ul li { width:25%; }
}

@media screen and (max-width: 800px) {
.header #logo { width:100%; height:80px; }
.header #logo a { width:260px; height:80px; }

#theman_area .right .main_title { font-size:34px; line-height:34px; }
.portfolioarea .box { width:21%; float:left; margin:0 2% 10px 2%; }
}

@media screen and (max-width: 650px) {
#theman_area .left { width:35%; }
#theman_area .right { width:64%; }
#theman_area .right .main_title { font-size:24px; line-height:24px; }
#theman_area .right p { font-size:20px; line-height:24px; height:100px }

#theman_area .btn_learnabtme { font-size:18px; padding:20px 26px; }

.skillarea .list ul li { width:48%; }

.portfolioarea .box { width:29%; float:left; margin:0 2% 10px 2%; }
}

@media screen and (max-width: 480px) {
.header #logo { width:100%; height:80px; float:left; margin:0 0 10px 0; }
.header #logo a { width:260px; height:80px; float:none; margin:0 auto; }
.header .right { width:100%; float:left; }
.header .mobilemenu { display:block; }
.menu { display:none; }


#theman_area .left { width:100%; float:left; margin:0 0 10px 0; }
#theman_area .right { width:100%;float:left; }

.skillarea .main_title h2 { font-size:24px; margin:20px 0; }
.skillarea .list ul li { width:50%; }

.portfolioarea .main_title h2 { font-size:26px; line-height:100%; margin:20px 0 10px 0; }
.portfolioarea .main_title h3 { font-size:18px; line-height:100%; margin:0 0 10px 0; }
.portfolioarea .box { width:96%; float:left; margin:0 2% 10px 2%; }

.footer .footer_content .main_title h2 { font-size:28px; }
.footer .footer_content .content .hello { font-size:20px; } 

}
